.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.premium-newsticker-type{
display:inline-block;
}
.premium-newsticker-type{padding-left:1%;}


.wp-premium-newsticker .premium-newsticker-type{font-weight:700;color:#fff ; padding-top: 0.7%;}

.label_for_newsticker{font-weight:700;padding:0.7% 3% !important;height:40px;}
.wp-premium-newsticker .premium-newsticker-type{
  text-overflow: ellipsis;
  /*overflow: hidden;
    display: -webkit-box;*/
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
@media screen and (max-width: 768px) {
.wp-premium-newsticker .premium-newsticker-type{position: absolute;left:17%;width:100%;}
}
@media screen and (max-width: 425px) {
  .wp-premium-newsticker .premium-newsticker-type{position: absolute;left:25%;width:225px;overflow:hidden;height:30px;
  
  }
}